/* tablet */

@media screen and (min-width: 481px) and (max-width: 768px) {

/*.head_wrap>h1 {
  width: 100px; height: 80px;}
.head_wrap>h1>a {
  margin: auto;
  width: 100%; height: 100%;}*/

/* ==cart_search 장바구니와 검색하기 아이콘== */
/*.cart_search {
  position: absolute;
  top: 4%; right: 5%;
  width: 80px; height: 30px;}
.cart_search>ul {
  width: auto; height: auto;}
.cart_search>ul>li {
  float: left;
  width: 30px; height: 30px;}
.cart_search>ul>li:first-child {
  margin-right: 20px;}
.cart_search>ul>li>a {
  display: block;
  width: inherit; height: inherit;}
.icon {
  font-size: 30px;
  width: inherit; height: inherit;}
.icon_text {font-size: 0;}*/

/* search_area 검색 아이콘 클릭하면 나오는 영역 */
/*.search_area {display: none;}*/
/*.search_area {
  margin: 20px auto;
  width: 70%; height: 50px;
  background-color: #fff;}
#search {
  float: left;
  border: 1.5px solid #000;
  border-radius: 10px;
  width: 80%; height: 50px;
  background-color: #fff;}
#search_2 {
  position: relative; z-index: 100;
  float: right;
  overflow: hidden; cursor:pointer;
  font-size: 1.5rem; transition: all 500ms ease-in-out 500ms;
  width: 20%; height: 50px; 
  background-color: #fff;}
#search_2:hover, #search_2:focus{
  color: #fff;}
#search_2:before {
  content:" "; display: block;
  position: absolute; top: 0; left: 0; z-index: 100; 
  width:30%; height: 100%;
  transform:skew(30deg) translate(-130%);
  transition:all 1000ms ease-in-out;
  background-color:transparent;}
#search_2:hover:before, 
#search_2:focus:before{
  width:400%; 
  transform: translate(-30%);
  color: #fff;
  background-color: #000;}*/

/* gnb_btn 메뉴 버튼 */
/*.gnb_btn {
  position: absolute; top: 4%; left: 5%;
  width: 30px; height: 30px;
  background-color: #dda;}
.gnb_btn>button {
  cursor: pointer;
  width: inherit; height: inherit;}*/

/* gnb_area 메뉴 영역 */
/*.gnb_area {
  position: relative;
  margin: auto;
  padding: 15px; box-sizing: border-box;
  width: 100%; height: auto;}*/

/* unb.mob 모바일,패드에서만 보이는 언어, 매장 정보 */
/*.unb.mob{
  box-sizing: border-box;
  padding: 15px 70px;
  width: 100%; height: 50px;}
.unb.mob>ul>{
  margin: auto;
  width: inherit; height: inherit;}
.unb.mob li{
  width: auto; height: auto;
  float: left;}
.unb.mob li:last-child {
  float: right;}
.unb.mob a {
  display: block;
  text-align: center;}*/


/* gnb 메뉴 pc,pcfull에서는 보이고 mob,tab에서는 숨겨지는 gnb 영역. mob,tab용 unb도 있다. */
/*.gnb {
  box-sizing: border-box; padding: 1rem 2rem;
  width: 100%; height: auto;}
.category {
  width: 100%; height: 700px;}
.category>li {
  margin: auto;
  margin-bottom: 50px;
  width: 130px; height: auto;}
.category>li:last-child {
  margin-bottom: 0;}
.category>li>a{
  display: block;
  text-align: center;
  font-size: 1.5rem;}
.category>li>a>span {
  width: auto; height: auto;}*/

/* gnb category 하위 메뉴 */
/*.menu {
  width: 130px; height: auto;}
.menu>li {
  width: auto; height: auto;}
.menu>li:hover, .menu>li:focus {
  border-bottom: 1px solid #282828;}
.menu>li>a {
  display: block;
  text-align: center;}*/



} /* ===========headBox */
