/* pc */

@media screen and (min-width: 769px) and (max-width: 1366px){

/*.head_wrap {
  width: 80%;}
h1 {
  width: 150px; height: 100px;
  background-size: 130px 100px;}*/

/* ==cart_search */
/*.cart_search {
  position: absolute;
  top: 3%; right: 5%;
  padding: 9px; box-sizing: border-box;
  width: auto; height: 50px;}
.cart_search>ul {
  width: auto; height: auto;}
.cart_search>ul>li {
  float: left;
  width: auto; height: auto;}
.cart_search>ul>li:first-of-type {
  margin-right: 30px;}
.cart_search>ul>li>a {
  width: inherit; height: inherit;}
.icon {
  display: none;}
*/

/* ==search_area */
/*.search_area {display: none;}*/
/*.search_area {
  margin: 20px auto;
  width: 70%; height: 50px;
  background-color: #fff;}
#search {
  float: left;
  border: 1.5px solid #000;
  border-radius: 10px;
  width: 80%; height: 50px;
  background-color: #fff;}
#search_2 {
  position: relative; z-index: 100;
  float: right;
  overflow: hidden; cursor:pointer;
  font-size: 1.5rem; transition: all 500ms ease-in-out 500ms;
  width: 20%; height: 50px; 
  background-color: #fff;}
#search_2:hover, #search_2:focus{
  color: #fff;}
#search_2:before {
  content:" "; display: block;
  position: absolute; top: 0; left: 0; z-index: 100; 
  width:30%; height: 100%;
  transform:skew(30deg) translate(-130%);
  transition:all 1000ms ease-in-out;
  background-color:transparent;}
#search_2:hover:before, 
#search_2:focus:before{
  width:400%; 
  transform: translate(-30%);
  color: #fff;
  background-color: #000;}
*/
/* ==gnb */
/*.gnb_area {
  margin: 0 auto;
  box-sizing: border-box; padding: 1rem;
  width: 100%; height: auto;
  border-bottom: 2px solid #282828;}

.gnb_btn {display: none;}
.unb.mob {display: none;}
.mob>ul>li {
    float: left;}

.gnb {
  margin: 0 auto;
  width: 100%; height: 100px;}
.gnb>li {
  float: left;
  width: 20%;
  text-align: center;
  color: #fff;}
.gnb>li:last-of-type {
  margin-right: 0;}
.gnb>li>a:focus, .gnb>li>a:hover {
  border-bottom: 2px solid #000;}*/

} /* ===========headBox */