/* pc full */

@media screen and (min-width: 1367px){
/*
.head_wrap {
  width: 70%;}
h1 {
  width: 130px; height: 100px;}*/

/* ==cart_search 장바구니와 검색하기 아이콘== */
/*.cart_search {
  position: absolute;
  top: 20%; right: 5%;}
.cart_search>ul {
  width: auto; height: auto;}
.cart_search>ul>li {
  float: left;}
.cart_search>ul>li:first-of-type {
  margin-right: 20px;}
.cart_search>ul>li>a {
  width: inherit; height: inherit;}
.icon {
  display: none;}*/

/* search_area 검색 아이콘 클릭하면 나오는 영역 */
/*.search_area {display: none;}*/
/*.search_area {
  margin: 20px auto;
  width: 70%; height: 50px;
  background-color: #fff;}
#search {
  float: left;
  border: 1.5px solid #000;
  border-radius: 10px;
  width: 80%; height: 50px;
  background-color: #fff;}
#search_2 {
  position: relative; z-index: 100;
  float: right;
  overflow: hidden; cursor:pointer;
  font-size: 1.5rem; transition: all 500ms ease-in-out 500ms;
  width: 20%; height: 50px; 
  background-color: #fff;}
#search_2:hover, #search_2:focus{
  color: #fff;}
#search_2:before {
  content:" "; display: block;
  position: absolute; top: 0; left: 0; z-index: 100; 
  width:30%; height: 100%;
  transform:skew(30deg) translate(-130%);
  transition:all 1000ms ease-in-out;
  background-color:transparent;}
#search_2:hover:before, 
#search_2:focus:before{
  width:400%; 
  transform: translate(-30%);
  color: #fff;
  background-color: #000;}*/

/* gnb_btn 메뉴 버튼 */
/*.gnb_btn {display: none;}*/

/* gnb_area 메뉴 영역 */
/*.gnb_area {
  margin: 0 auto;
  width: 100%; height: auto;}*/

/* unb.mob 모바일,패드에서만 보이는 언어, 매장 정보 */
/*.unb.mob {
  display: none;}*/

/* gnb 메뉴 pc,pcfull에서는 보이고 mob,tab에서는 숨겨지는 gnb 영역. mob,tab용 unb도 있다. */
/*.gnb {
  box-sizing: border-box; padding: 1.5rem;
  margin: 0 auto;
  width: 100%; height: 100px;}

.category {
  margin: auto;
  width: auto; height: 53px;}
.category>li {
  box-sizing: border-box; padding: 1rem;
  float: left;
  text-align: center;
  width: 20%; height: auto;}
.category>li>a {
  width: inherit; height: inherit;}

.category>li>a:focus, .category>li>a:hover {
  font-weight: bold;
  transition: all 100ms ease;}*/

/* gnb category 하위 메뉴 */
/*.menu {
  box-sizing: border-box; padding: 1rem;
  width: 100%; height: auto;
  background-color: #f4a;}
.menu>li {
  width: auto; height: auto;}
.menu>li>a:focus, .menu>li>a:hover {
  border-bottom: 1.5px solid #777;
  transition: all 300ms ease;
  color: #0007;}*/

} /* ===========headBox 